// ------- MAIN CONSTANTS -----------

// colors
@pl-transparent: transparent;
@pl-primary1: #999;
@pl-primary2: #337ab7;
@pl-primary3: #fff;

@pl-accent1: #f3f227;
@pl-accent2: #f3f227;
@pl-accent3: #f00;
