.pl-file-box {

  .input-group-btn .btn {
    width: 40px;
  }

  .pl-filebox-file-upload, .pl-filebox-file-empty, .pl-filebox-file-download-url {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pl-filebox-file-upload {
    color: @btn-link-disabled-color;
  }
  .pl-filebox-file-empty {
    color: @btn-link-disabled-color;
  }

  .pl-filebox-file-download-url{
    width: 100%;
    display: block;
  }
}