.pl-treeview {

  &_multi-select {

  }

  &_single-select {

  }

}

.pl-treeview-node {
  &__button {
    display:inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    .user-select(none);

    &_expand {
      .pl-treeview-node__icon_expanded,
      .pl-treeview-node__icon_blank {
        display: none;
      }
    }

    &_collapse {
      .pl-treeview-node__icon_collapsed,
      .pl-treeview-node__icon_blank {
        display: none;
      }
    }

    &_none {
      .pl-treeview-node__icon_expanded,
      .pl-treeview-node__icon_collapsed {
        display: none;
      }
    }
  }

  &__item {
    display: inline-block;
  }

  &__items {
    margin-left: 20px;

    &_expanded {
      display: block;
    }

    &_collapsed {
      display: none;
    }
  }

}

.pl-treeview-item {
  &__checker {
    display: inline-block;

    .user-select(none);

    &_checkbox {

    }

    &_checkbox&_checked {
      .pl-treeview-node__icon_unchecked {
        display: none;
      }
    }

    &_checkbox&_unchecked {
      .pl-treeview-node__icon_checked {
        display: none;
      }
    }

    &_radio {
      display: none;//nothing
    }

    &_radio&_checked {
      display: none;//nothing
    }

  }

  &__content {
    display: inline-block;
    cursor: pointer;

    &_selected {
      color: @list-group-active-color;
      background-color: @list-group-active-bg;
      border-color: @list-group-active-border;
    }
  }
}