.scenario {
    margin-left: 30px;
}

/* Scenario */

section.passed .header{
	background-color: lightgreen;
}

section.passed.skipped .header{
	background-color: gold;
}

section.failed .header{
	background-color: tomato;
}

/* Step */

li.failed{
	background-color: tomato;
}

li.skipped{
	background-color: gold;
}

#test-info {
	display: inline-block;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
}